<template>
    <div id="edit-model-page">
        <v-card class="content-margin">
            <v-card-text class="top-panel padding">
                
                <v-text-field outlined v-model="model.name" class="top-panel__input" label="Model name"></v-text-field>

                <v-select
                    v-if="canEdit()"
                    outlined
                    class="top-panel__input"
                    label="Project"
                    :items="selectProjectItems"
                    @change="onSelectProject()"
                    v-model="model.projectId"></v-select>
                
                <v-spacer></v-spacer>
                
                <v-btn 
                    v-if="model.id"
                    class="top-panel__btn"
                    @click="remove()"
                    color="red">Delete</v-btn>
                <v-btn 
                    v-if="model.id"
                    class="top-panel__btn"
                    @click="preview()"
                    color="secondary">Preview</v-btn>
                <v-btn 
                    class="top-panel__btn"
                    @click="save()"
                    color="primary">Save</v-btn>
            </v-card-text>
        </v-card>

        <v-layout class="content" v-if="canEdit() && model.projectId !== 0">
            <v-flex md8 xs12>

                <model-field-component
                    class="content-margin"
                    v-for="(field, index) in model.model"
                    :value="field"
                    :key="index"
                    :modelId="model.id"
                    :projectId="model.projectId"
                    @on-remove="() => removeField(index)"></model-field-component>

                <v-btn @click="addField()" class="add-field" color="primary">
                    <v-icon>add</v-icon>
                    Add field
                </v-btn>

            </v-flex>

            <v-flex md4 xs12 class="second-flex">
                <code>{{model !== null ? model.model : ''}}</code>
            </v-flex>
        </v-layout>

        <v-dialog v-model="previewDialogIsOpened" width="300px">
            <v-card>
                <v-card-text>
                    <code>{{previewDialogContent}}</code>
                </v-card-text>
            </v-card>
        </v-dialog>

        <code v-if="!canEdit() && model.projectId !== 0" class="code">{{model !== null ? model.model : ''}}</code>

        <div class="mobile-buttons">
            <v-btn 
                v-if="model.id"
                class="mobile-buttons__btn"
                @click="remove()"
                color="red">Delete</v-btn>
            <v-btn 
                v-if="model.id"
                class="mobile-buttons__btn"
                @click="preview()"
                color="secondary">Preview</v-btn>
            <v-btn 
                class="mobile-buttons__btn"
                @click="save()"
                color="primary">Save</v-btn>
        </div>

        <snackbar-component :controller="snackbarController"/>
    
    </div>
</template>

<style lang="scss">
    #edit-model-page {
        .add-field {
            width: 100%;
        }
        .second-flex {
            padding-left: 15px;
        }
        .content {
            flex-wrap: wrap;
        }

        .mobile-buttons {
            display: none;
            margin-top: 15px;
            &__btn {
                width: 100%;
                margin-bottom: 15px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        @media (max-width: 959px) {
            .top-panel {
                justify-content: flex-right!important;
                &__input {
                    width: 100%;
                    margin-left: 0!important;
                    margin-top: 10px;
                    &:first-child {
                        margin-top: 0;
                    }
                }
                &__btn {
                    display: none;
                }
            }
            .mobile-buttons {
                display: block;
            }
            .second-flex {
                margin-top: 15px;
                padding: 0;
            }
        }
    }
</style>

<script lang="ts">
    import { Component, Vue, Inject } from 'vue-property-decorator'; 
    import ModelFieldComponent from '../../components/model-field.component.vue';
    import ModelInterface from '../../models/model.interface';
    import ModelsService from '../../services/models.service';
    import ProjectInterface from '../../models/project.interface';
    import SnackbarComponent from '../../components/snackbar.component.vue';
    import SnackbarController from '../../controllers/sackbar.controller';
    import * as RULES from '../../rules/arrays.rule';
    import { ACTION_SELECT_CURRENT_PROJECT, GET_CURRENT_PROJECT } from '../../store/current-project.module';
    import SelectItemInterface from '../../models/select-item.interface';
    import ProjectsService from '../../services/projects.service';
    import FieldTypeConstants from '../../constants/field-type.constants';

    @Component({
        components: {
            ModelFieldComponent,
            SnackbarComponent
        }
    })
    export default class EditModelPage extends Vue {

        @Inject() public modelsService: ModelsService;
        @Inject() public projectsService: ProjectsService;

        public get currentProject(): ProjectInterface {
            return this.$store.getters[GET_CURRENT_PROJECT];
        }

        public model: ModelInterface = {
            id: null,
            name: '',
            projectId: this.currentProject ? this.currentProject.id : 0,
            model: [],
            errors: null,
            bodyCount: 0,
            listCount: 0
        };

        public selectProjectItems: SelectItemInterface[] = [];

        public previewDialogIsOpened: boolean = false;
        public previewDialogContent: any[] = [];

        public params: any;
        public snackbarController: SnackbarController = new SnackbarController();

        public RULES: any = RULES;

        public created() {
            this.params = this.$router.currentRoute.params;
            if(this.params.id && +this.params.id) {
                this.modelsService.getById(Number(this.params.id))
                    .then((res: ModelInterface) => {
                        this.model = res;
                    })
                    .catch((res) => {
                        this.$router.push('/404');
                    })
            } else if (this.params.id && typeof +this.params.id !== 'number') {
                this.$router.push('/404');
            }

            this.projectsService.getInfoRows()
                .then(res => {
                    this.selectProjectItems = res.map(item => {
                        return {
                            text: item.name,
                            value: item.id
                        }
                    })
                })
        }

        public onSelectProject(): void {
            const model = [...this.model.model];
            this.model.model = [];
            setTimeout(() => this.model.model = model);
        }

        public canEdit(): boolean {
            return this.model.bodyCount === 0 &&
                    this.model.listCount === 0
        }

        public addField() {
            this.model.model.push({
                name: '',
                type: FieldTypeConstants.INTAGER,
                required: false
            })
        }

        public removeField(index: number) {
            this.model.model.splice(index, 1);
        }

        public onChangeModelType(): void {
            this.model.model = []
        }

        public preview(): void {
            this.previewDialogContent = this.model.model
            this.previewDialogIsOpened = true;
        }

        public remove(): void {
            this.modelsService.remove(this.model.id)
                .then(res => {
                    this.$router.push('/models');
                    this.snackbarController.openSuccess(`Model ${res.name} is deleted`);
                })
        }

        public save(): void {

            this.params = this.$router.currentRoute.params;
            this.model.id = +this.params.id;

            if(this.model.name.length === 0) {
                this.snackbarController.openError('Model name is required');
                return;
            }

            if(this.model.model.length === 0) {
                this.snackbarController.openError('You cannot save a model without fields');
                return;
            }

            for(let index=0; index<this.model.model.length; index++) {
                const field = this.model.model[index];
                const isValid: boolean | string = this.RULES.valid(this.RULES.MODEL_FIELD_NAME, field.name);

                if(typeof isValid === 'string') {
                    this.snackbarController.openError(isValid);
                    return;
                }

            }

            if(this.params.id && typeof +this.params.id === 'number') {
                this.modelsService.update(this.model)
                    .then((res) => {
                        if(res.errors === null) {
                            this.snackbarController.openSuccess('OK');
                        } else {
                            this.snackbarController.openError(JSON.stringify(res.errors));
                        }
                    })
                    .catch((res) => {
                        console.error(res);
                    })
            } else {
                this.modelsService.create(this.model)
                    .then((res) => {
                        if(res.errors === null) {
                            this.snackbarController.openSuccess('OK');
                            this.$router.push('/models/edit/' + res.id)
                        } else {
                            this.snackbarController.openError(JSON.stringify(res.errors));
                        }
                    })
                    .catch((res) => {
                        console.error(res);
                    })
            }
        }

    }
</script>