<template>
    <div id="models-page">

        <v-expansion-panels class="content-margin" :value="0">
            <v-expansion-panel>
                <v-expansion-panel-header>
                    <span><v-icon>filter_list</v-icon> Filters</span>
                </v-expansion-panel-header>
                <v-expansion-panel-content>
                    
                    <div class="filters">

                        <v-text-field
                            outlined
                            class="filters__input"
                            label="Name"
                            @change="updateFilters()"
                            v-model="filterName"></v-text-field>

                        <v-select
                            outlined
                            class="filters__input top-panel__input-small"
                            label="Project"
                            :items="filterSelectProjectItems"
                            @change="updateFilters()"
                            v-model="filterProject"></v-select>

                    </div>

                </v-expansion-panel-content>
            </v-expansion-panel>
        </v-expansion-panels>

        <div class="table-page-actions-block content-margin">
            <v-btn @click="newModel()" color="primary">New model</v-btn>
        </div>
        
        <v-server-table class="content-margin" ref="tableRef" @loaded="onTableLoaded($event)" :columns="columns" :options="options">
            <actions-cell-component 
                slot="actions" slot-scope="props"
                :view="() => view(props.row.id)"
                :edit="() => edit(props.row.id)"
                :remove="() => remove(props.row.id)"
            ></actions-cell-component>
        </v-server-table>

        <v-pagination
            v-if="totalPages > 1"
            :value="tableRef.page"
            @input="onChangePage($event)"
            :length="totalPages"
            :total-visible="10"
            ></v-pagination>

        <v-dialog v-model="previewDialogIsOpened" width="300px">
            <v-card>
                <v-card-text>
                    <code>{{previewDialogContent}}</code>
                </v-card-text>
            </v-card>
        </v-dialog>

        <snackbar-component :controller="snackbarController"/>

    </div>
</template>

<style lang="scss">
    #models-page {
        .filters {
            display: flex;
            flex-wrap: wrap;

            &__input {
                width: 280px;
                margin-right: 15px!important;
                flex: inherit;
            }
            
        }

        @media (max-width: 991px) {
            .cell-project_name {
                display: none
            }
        }

        @media (max-width: 767px) {
            .filters {
                &__input {
                    width: 100%;
                    margin-bottom: 10px;
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
            .cell-list_count,
            .cell-body_count {
                display: none
            }
        }
    }
</style>

<script lang="ts">
    import { Component, Vue, Inject, Ref } from 'vue-property-decorator';
    import ModelsService from '../../services/models.service';
    import ActionsCellComponent from '../../components/actions-cell.component.vue';
    import ModelInterface from '../../models/model.interface';
    import ProjectInterface from '../../models/project.interface';
    import { ACTION_SELECT_CURRENT_PROJECT, GET_CURRENT_PROJECT } from '../../store/current-project.module';  
    import SnackbarController from '../../controllers/sackbar.controller';
    import SnackbarComponent from '../../components/snackbar.component.vue';
    import {buildTableRequest} from '../../models/table-request.interface';
    import SelectItemInterface from '../../models/select-item.interface';
    import ProjectsService from '../../services/projects.service';

    @Component({
        components: {
            ActionsCellComponent,
            SnackbarComponent
        }
    })
    export default class ModelsPage extends Vue {

        @Inject() public modelsService: ModelsService;
        @Inject() public projectsService: ProjectsService;

        public get currentProject(): ProjectInterface {
            return this.$store.getters[GET_CURRENT_PROJECT];
        }

        @Ref() public tableRef;

        public totalPages: number = 0;

        public filterName: string = '';
        public filterProject: number | string = this.currentProject ? this.currentProject.id : '';

        public filterSelectProjectItems: SelectItemInterface[] = [];

        public columns: string[] = ['id', 'name', 'body_count', 'list_count', 'project_name', 'actions'];
        public options: any = {
            columnsClasses: {
                actions: 'cell-actions',
                project_name: 'cell-project_name',
                body_count: 'cell-body_count',
                list_count: 'cell-list_count'
            },
            requestFunction: (nativeQuery: any) => {
                return this.modelsService.getRows(buildTableRequest(nativeQuery, this.getFilters()))
            }
        }

        public previewDialogIsOpened: boolean = false;
        public previewDialogContent: {} = {};

        public snackbarController: SnackbarController = new SnackbarController();
        
        public created(): void {
            this.projectsService.getInfoRows()
                .then(res => {
                    this.filterSelectProjectItems = res.map(item => {
                        return {
                            text: item.name,
                            value: item.id
                        }
                    });
                    this.filterSelectProjectItems.unshift({
                        text: 'All',
                        value: ''
                    })
                })
        }

        public getFilters(): any {
            const filters = {};

            if(this.filterName !== '') {
                filters['name'] = {
                    type: 'CONTAINS',
                    query: this.filterName
                }
            }

            if(this.filterProject !== '') {
                filters['project_id'] = {
                    type: 'EQUALS',
                    query: this.filterProject
                }
            }

            return filters;
        }

        public updateFilters(): void {
            this.tableRef.getData();
        }

        public onTableLoaded(data: any): void {
            this.totalPages = this.tableRef.totalPages;
            if(this.totalPages && this.tableRef.page > this.tableRef.totalPages) {
                this.onChangePage(this.tableRef.totalPages);
                return;
            }
        }

        public onChangePage(page: number): void {
            this.tableRef.setPage(page);
        }

        public view(id: number): void {
            this.modelsService.getById(id)
                .then(res => {
                    this.previewDialogContent = res.model;
                    this.previewDialogIsOpened = true;
                })
        }

        public edit(id: number): void {
            this.$router.push(this.$router.currentRoute.path + `/edit/${id}`);
        }

        public remove(id: number): void {
            this.modelsService.remove(id)
                .then(res => {
                    this.snackbarController.openSuccess(`Model ${res.name} is deleted`);
                    this.tableRef.getData();
                })
        }

        public newModel() {
            this.$router.push(this.$router.currentRoute.path + `/new`);
        }

    }
</script>
