<template>
    <div id="edit-list-page">
        <v-card class="content-margin">
            <v-card-text class="top-panel padding">
                <v-text-field outlined v-model="list.name" class="top-panel__input" label="List name"></v-text-field>

                <v-select
                    outlined
                    class="top-panel__input top-panel__input-small"
                    label="Project"
                    :items="filterSelectProjectItems"
                    @change="onSelectProject($event)"
                    v-model="list.projectId"></v-select>

                <v-select
                    outlined
                    v-model="selectedType"
                    class="top-panel__input top-panel__input-small"
                    :items="selectTypeItems"
                    label="Type"
                    @change="onChangeType($event)"></v-select>

                <v-select
                    v-if="list.projectId && selectedType === 'MODEL'"
                    outlined
                    v-model="selectedModel"
                    class="top-panel__input top-panel__input-small"
                    :items="selectModelItems"
                    label="Model"
                    @change="onSelectModel($event)"></v-select>
                
                <v-select
                    v-if="selectedType === 'MODEL[]'"
                    outlined
                    v-model="selectedModel"
                    class="top-panel__input top-panel__input-small"
                    :items="selectModelItems"
                    label="List"
                    @change="onSelectModelList($event)"></v-select>
                
                <v-spacer></v-spacer>
                <v-btn 
                    v-if="list.id"
                    class="top-panel__btn"
                    @click="remove()"
                    color="red">Delete</v-btn>
                <v-btn 
                    v-if="list.id"
                    class="top-panel__btn"
                    @click="preview()"
                    color="secondary">Preview</v-btn>
                <v-btn
                    class="top-panel__btn"
                    @click="save()"
                    color="primary">Save</v-btn>
            </v-card-text>
        </v-card>

        <v-layout v-if="list.projectId" class="content">
            <v-flex md8 xs12 class="first-flex">
                <div>
                    <body-field-component
                        v-for="(item, index) in bodyItems"
                        class="content-margin"
                        :key="index"
                        :canRemove="true"
                        @on-remove="onRemoveField(index)"
                        v-model="bodyItems[index]"
                        @input="onChangeValue(index)"
                        :modelField="modelField"
                        :projectId="list.projectId"></body-field-component>
                </div>
                <v-btn v-if="list.type"
                    @click="addItem()"
                    class="add-item"
                    color="primary">
                    <v-icon>add</v-icon>
                    Add item
                </v-btn>
            </v-flex>
            <v-flex md4 xs12 class="second-flex">
                <code>{{body}}</code>
            </v-flex>
        </v-layout>

        <div class="mobile-buttons">
            <v-btn 
                v-if="list.id"
                class="mobile-buttons__btn"
                @click="remove()"
                color="red">Delete</v-btn>
            <v-btn 
                v-if="list.id"
                class="mobile-buttons__btn"
                @click="preview()"
                color="secondary">Preview</v-btn>
            <v-btn 
                class="mobile-buttons__btn"
                @click="save()"
                color="primary">Save</v-btn>
        </div>

        <v-dialog v-model="previewDialogIsOpened" width="300px">
            <v-card>
                <v-card-text>
                    <code>{{previewDialogContent}}</code>
                </v-card-text>
            </v-card>
        </v-dialog>

        <select-popup-component :controller="selectPopupController"/>

        <snackbar-component :controller="snackbarController"/>
    
    </div>
</template>

<style lang="scss">
    #edit-list-page {
        .second-flex {
            padding-left: 15px;
        }
        .content {
            flex-wrap: wrap;
        }
        .add-item {
            widows: 100%;
        }

        .mobile-buttons {
            display: none;
            margin-top: 15px;
            &__btn {
                width: 100%;
                margin-bottom: 15px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        @media (max-width: 1263px) {
            .top-panel {
                &__input {
                    width: 100%;
                    margin: 10px 0 0!important;
                    &:first-child {
                        margin-top: 0!important;
                    }
                }
                &__btn {
                    display: none;
                }
            }
            .mobile-buttons {
                display: block;
            }
        }

        @media (max-width: 959px) {
            .second-flex {
                margin-top: 15px;
                padding-left: 0!important;
            }
        }
        
    }
</style>

<script lang="ts">
    import { Component, Vue, Inject } from 'vue-property-decorator'; 
    import ListInterface from '../../models/list.interface';
    import { ACTION_SELECT_CURRENT_PROJECT, GET_CURRENT_PROJECT } from '../../store/current-project.module';  
    import ProjectInterface from '../../models/project.interface';
    import { getModelIdByType, getModelTypeById, getModelListTypeById, getModelListIdByType, enumToArray } from '../../functions';
    import ModelInterface from '../../models/model.interface';
    import SelectItemInterface from '../../models/select-item.interface';
    import ListsService from '../../services/lists.service';
    import ModelsService from '../../services/models.service';
    import SelectPopupComponent from '../../components/select-popup.component.vue';
    import SnackbarComponent from '../../components/snackbar.component.vue';
    import SnackbarController from '../../controllers/sackbar.controller';
    import SelectPopupController from '../../controllers/select-popup.controller';
    import ModelFieldInterface from '../../models/model-field.interface';
    import BodyFieldComponent from '../../components/body-field.component.vue';
    import BodyService from '../../services/body.service';    
    import FieldTypeConstants from '../../constants/field-type.constants';
    import ProjectsService from '../../services/projects.service';

    @Component({
        components: {
            SelectPopupComponent,
            SnackbarComponent,
            BodyFieldComponent
        }
    })
    export default class EditListsPage extends Vue {

        @Inject() public listsService: ListsService;
        @Inject() public modelsService: ModelsService;
        @Inject() public bodyService: BodyService;
        @Inject() public projectsService: ProjectsService;

        public get currentProject(): ProjectInterface {
            return this.$store.getters[GET_CURRENT_PROJECT];
        }

        public params: any;

        public body: any[] = [];
        public bodyItems: any[] = [];
        public modelField: ModelFieldInterface = {
            name: '',
            type: null,
            required: true
        };

        public list: ListInterface = {
            id: null,
            name: '',
            projectId: this.currentProject ? this.currentProject.id : 0,
            type: '',
            list: [],
            errors: null
        }

        public selectedType: string = '';
        public selectTypeItems: string[] = Object.keys(FieldTypeConstants).map(item => FieldTypeConstants[item]);

        public filterSelectProjectItems: SelectItemInterface[] = [];
        public selectModelItems: SelectItemInterface[] = [];

        public previewDialogIsOpened: boolean = false;
        public previewDialogContent: any[] = [];

        public selectedModel: number | null = null;
        public selectedList: ListInterface | null = null;

        public snackbarController: SnackbarController = new SnackbarController();
        public selectPopupController: SelectPopupController = new SelectPopupController();

        public created(): void {
            this.params = this.$router.currentRoute.params;
            if(this.params.id && typeof +this.params.id === 'number') {
                this.listsService.getById(Number(this.params.id))
                    .then((res: ListInterface) => {
                        this.list = res;
                        this.modelField.type = res.type;
                        this.bodyItems = res.list;
                        this.selectedType = res.type.replace(/\(\d+\)/, '');

                        if(/^MODEL\(\d+\)\[\]$/.test(res.type)) {
                            this.selectedModel = getModelListIdByType(res.type);
                        } else if(res.type.search('MODEL') !== -1) {
                            this.selectedModel = getModelIdByType(res.type);
                        }
                    })
                    .catch((res) => {
                        this.$router.push('/404');
                    })
                this.listsService.getPreviewById(Number(this.params.id))
                    .then(res => {
                        this.body = res;
                    })
            } else if (this.params.id && typeof +this.params.id !== 'number') {
                this.$router.push('/404');
            }

            this.projectsService.getInfoRows()
                .then(res => {
                    this.filterSelectProjectItems = res.map(item => {
                        return {
                            text: item.name,
                            value: item.id
                        }
                    })
                })

            if(this.list.projectId) this.onSelectProject(this.list.projectId);

        }

        public onSelectProject(projectId: number) {
            this.modelsService.getInfoRows(projectId)
                .then((items: ModelInterface[]) => {
                    this.selectModelItems = items.map((item) => {
                        return {
                            text: item.name,
                            value: item.id
                        }
                    })
                })
        }

        public addItem(): void {
            this.bodyItems.push('');
        }

        public onChangeType(e?): void {
            this.body = [];
            this.bodyItems = [];
            this.list.list = [];
            this.list.type = '';
            this.selectedModel = null;
            if(this.selectedType.search('MODEL') === -1) {
                this.list.type = this.selectedType;
                this.modelField.type = this.selectedType;
            }
        }

        public onSelectModel(): void {
            this.body = [];
            this.list.type = getModelTypeById(this.selectedModel);
            this.modelField.type = this.list.type;
            // this.selectPopupController.close();
        }

        public onSelectModelList(): void {
            this.body = [];
            this.list.type = getModelListTypeById(this.selectedModel);
            this.modelField.type = this.list.type;
            // this.selectPopupController.close();
        }

        public onChangeValue(index: number): void {
            this.list.list[index] = this.bodyItems[index];
            if(this.selectedType === 'LIST') {
                this.listsService.getPreviewById(this.bodyItems[index])
                    .then((res) => {
                        this.body[index] = res;
                        this.$forceUpdate()
                    })
            } else if(this.selectedType === 'MODEL') {
                this.bodyService.getPreviewById(this.bodyItems[index])
                    .then((res) => {
                        this.body[index] = res;
                        this.$forceUpdate()
                    })
            } else {
                this.body[index] = this.bodyItems[index];
            }
        }

        public onRemoveField(index: number): void {
            this.list.list.splice(index, 1);
            this.body.splice(index, 1);
            this.bodyItems.splice(index, 1);
        }

        public preview(): void {
            this.listsService.getPreviewById(this.list.id)
                .then((res: any) => {
                    this.previewDialogContent = res;
                    this.previewDialogIsOpened = true;
                })
        }

        public remove(): void {
            this.listsService.remove(this.list.id)
                .then(res => {
                    this.$router.push('/lists');
                    this.snackbarController.openSuccess(`List ${res.name} is deleted`);
                })
        }

        public save(): void {
            if(!this.list.projectId) {
                this.snackbarController.openError('Project is required');
                return
            }

            if(this.list.id && typeof this.list.id === 'number') {
                this.listsService.update(this.list)
                    .then(res => {
                        if(res.errors === null) {
                            this.snackbarController.openSuccess('OK');
                        } else {
                            this.snackbarController.openError(JSON.stringify(res.errors));
                        }
                    })
                    .catch((res) => {
                        console.error(res);
                    })
            } else {
                this.listsService.create(this.list)
                    .then(res => {
                        if(res.errors === null) {
                            this.list = res;
                            this.snackbarController.openSuccess('OK');
                            this.$router.push('/lists/edit/' + res.id)
                        } else {
                            this.snackbarController.openError(JSON.stringify(res.errors));
                        }
                    })
                    .catch((res) => {
                        console.error(res);
                    })
            }
            
        }

    }
</script>