<template>
    <div id="lists-page">

        <v-expansion-panels class="content-margin" :value="0">
            <v-expansion-panel>
                <v-expansion-panel-header>
                    <span><v-icon>filter_list</v-icon> Filters</span>
                </v-expansion-panel-header>
                <v-expansion-panel-content>
                    
                    <div class="filters">

                        <v-text-field
                            outlined
                            class="filters__input"
                            label="Name"
                            @change="updateFilters()"
                            v-model="filterName"></v-text-field>

                        <v-select
                            outlined
                            class="filters__input"
                            label="Type"
                            :items="filterSelectTypeItems"
                            @change="updateFilters()"
                            v-model="filterType"></v-select>

                        <v-select
                            outlined
                            class="filters__input"
                            label="Project"
                            :items="filterSelectProjectItems"
                            @change="updateFilters()"
                            v-model="filterProject"></v-select>

                    </div>

                </v-expansion-panel-content>
            </v-expansion-panel>
        </v-expansion-panels>

        <div class="table-page-actions-block content-margin">
            <v-btn @click="newList()" color="primary">New list</v-btn>
        </div>

        <v-server-table class="content-margin" ref="tableRef" @loaded="onTableLoaded($event)" :columns="columns" :options="options">
            <actions-cell-component 
                slot="actions" slot-scope="props"
                :view="() => view(props.row.id)"
                :edit="() => edit(props.row.id)"
                :remove="() => remove(props.row.id)"
            ></actions-cell-component>
        </v-server-table>

        <v-pagination
            v-if="totalPages > 1"
            :value="tableRef.page"
            @input="onChangePage($event)"
            :length="totalPages"
            :total-visible="10"
            ></v-pagination>

        <v-dialog v-model="previewDialogIsOpened" width="300px">
            <v-card>
                <v-card-text>
                    <code>{{previewDialogContent}}</code>
                </v-card-text>
            </v-card>
        </v-dialog>

        <snackbar-component :controller="snackbarController"/>

    </div>
</template>

<style lang="scss">
    #lists-page {
        .filters {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: -10px;

            &__input {
                width: 280px;
                margin-right: 15px!important;
                margin-bottom: 10px;
                flex: inherit;
            }
            
        }
        @media (max-width: 991px) {
            .filters {
                margin-bottom: 0;
                &__input {
                    width: 100%;
                    margin-right: 0!important;
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
            .cell-type {
                display: none;
            }
        }
    }
</style>

<script lang="ts">
    import { Component, Vue, Inject, Ref } from 'vue-property-decorator';
    import ListInterface from '../../models/list.interface';
    import { ACTION_SELECT_CURRENT_PROJECT, GET_CURRENT_PROJECT } from '../../store/current-project.module';  
    import ProjectInterface from '../../models/project.interface';
    import ActionsCellComponent from '../../components/actions-cell.component.vue';
    import ListsService from '../../services/lists.service';
    import SnackbarController from '../../controllers/sackbar.controller';
    import SnackbarComponent from '../../components/snackbar.component.vue';
    import {buildTableRequest} from '../../models/table-request.interface';
    import SelectItemInterface from '../../models/select-item.interface';
    import ProjectsService from '../../services/projects.service';
    import FieldTypeConstants from '../../constants/field-type.constants';

    @Component({
        components: {
            ActionsCellComponent,
            SnackbarComponent
        }
    })
    export default class ListsPage extends Vue {

        @Inject() public listsService: ListsService;
        @Inject() public projectsService: ProjectsService;

        public get currentProject(): ProjectInterface {
            return this.$store.getters[GET_CURRENT_PROJECT];
        }

        @Ref() public tableRef;

        public totalPages: number = 0;

        public columns: string[] = ['name', 'type', 'actions'];
        public options: any = {
            columnsClasses: {
                actions: 'cell-actions',
                type: 'cell-type'
            },
            requestFunction: (nativeQuery: any) => {
                return this.listsService.getRows(buildTableRequest(nativeQuery, this.getFilters()))
            }
        }

        public filterName: string = '';
        public filterType: string = '';
        public filterProject: number = this.currentProject ? this.currentProject.id : 0;

        public filterSelectTypeItems: SelectItemInterface[] = [];
        public filterSelectProjectItems: SelectItemInterface[] = [];

        public previewDialogIsOpened: boolean = false;
        public previewDialogContent: any[] = [];

        public snackbarController: SnackbarController = new SnackbarController();

        public created(): void {
            this.projectsService.getInfoRows()
                .then(res => {
                    this.filterSelectProjectItems = res.map(item => {
                        return {
                            text: item.name,
                            value: item.id
                        }
                    });
                    this.filterSelectProjectItems.unshift({
                        text: 'All',
                        value: 0
                    })
                });

            this.filterSelectTypeItems = Object.keys(FieldTypeConstants).map(item => {
                return {
                    text: FieldTypeConstants[item],
                    value: FieldTypeConstants[item]
                }
            });

            this.filterSelectTypeItems.unshift({
                text: 'All',
                value: ''
            });
        }

        public getFilters(): any {
            const filters = {};

            if(this.filterName !== '') {
                filters['name'] = {
                    type: 'CONTAINS',
                    query: this.filterName
                }
            }

            if(this.filterType !== '') {
                filters['correct_type'] = {
                    type: 'EQUALS',
                    query: this.filterType
                }
            }

            if(this.filterProject !== 0) {
                filters['project_id'] = {
                    type: 'EQUALS',
                    query: this.filterProject
                }
            }

            return filters;
        }

        public updateFilters(): void {
            this.tableRef.getData();
        }

        public onTableLoaded(data: any): void {
            this.totalPages = this.tableRef.totalPages;
            if(this.totalPages && this.tableRef.page > this.tableRef.totalPages) {
                this.onChangePage(this.tableRef.totalPages);
                return;
            }
        }

        public onChangePage(page: number): void {
            this.tableRef.setPage(page);
        }

        public newList(): void {
            this.$router.push(this.$router.currentRoute.path + `/new`);
        }

        public view(id: number): void {
            this.listsService.getPreviewById(id)
                .then(res => {
                    this.previewDialogContent = res;
                    this.previewDialogIsOpened = true;
                })
        }

        public edit(id: number): void {
            this.$router.push(this.$router.currentRoute.path + `/edit/${id}`);
        }

        public remove(id: number) {
            this.listsService.remove(id)
                .then(res => {
                    this.snackbarController.openSuccess(`List ${res.name} is deleted`);
                    this.tableRef.getData();
                })
        }

    }
</script>