<template>
    <div id="body-list-page">
        
        <v-expansion-panels class="content-margin" :value="0">
            <v-expansion-panel>
                <v-expansion-panel-header>
                    <span><v-icon>filter_list</v-icon> Filters</span>
                </v-expansion-panel-header>
                <v-expansion-panel-content>
                    
                    <div class="filters">

                        <v-text-field
                            outlined
                            class="filters__input"
                            label="Name"
                            @change="updateFilters()"
                            v-model="filterName"></v-text-field>

                        <v-select
                            outlined
                            class="filters__input"
                            label="Project"
                            :items="filterSelectProjectItems"
                            @change="onSelectProject($event); updateFilters()"
                            v-model="filterProject"></v-select>

                        <v-select
                            outlined
                            class="filters__input"
                            label="Model"
                            :items="filterSelectModelItems"
                            @change="onSelectModel($event); updateFilters()"
                            v-model="filterModel"></v-select>

                    </div>

                </v-expansion-panel-content>
            </v-expansion-panel>
        </v-expansion-panels>

        <div class="table-page-actions-block content-margin">
            <v-btn @click="newBody()" color="primary">New body</v-btn>
        </div>

        <v-server-table class="content-margin" ref="tableRef" @loaded="onTableLoaded($event)" :columns="columns" :options="options">
            <actions-cell-component 
                slot="actions" slot-scope="props"
                :edit="() => edit(props.row.id)"
                :view="() => view(props.row.id)"
                :remove="() => remove(props.row.id)"
            ></actions-cell-component>
        </v-server-table>

        <v-dialog v-model="previewDialogIsOpened" width="300px">
            <v-card>
                <v-card-text>
                    <code>{{previewDialogContent}}</code>
                </v-card-text>
            </v-card>
        </v-dialog>

        <snackbar-component :controller="snackbarController"/>

    </div>
</template>

<style lang="scss">
    #body-list-page {
        .filters {
            display: flex;
            flex-wrap: wrap;

            &__input {
                width: 280px;
                margin-right: 15px!important;
                flex: inherit;
            }
            
        }

        @media (max-width: 959px) {
            .filters {
                &__input {
                    width: 100%;
                    margin-bottom: 10px;
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }

        @media (max-width: 767px) {
            .cell-model_name,
            .cell-project_name {
                display: none;
            }
        }
    }
</style>

<script lang="ts">
    import { Component, Vue, Inject, Ref } from 'vue-property-decorator';
    import BodyService from '../../services/body.service';
    import BodyInterface from '../../models/body.interface';
    import ProjectInterface from '../../models/project.interface';
    import ActionsCellComponent from '../../components/actions-cell.component.vue';
    import { ACTION_SELECT_CURRENT_PROJECT, GET_CURRENT_PROJECT } from '../../store/current-project.module';
    import SnackbarController from '../../controllers/sackbar.controller';
    import SnackbarComponent from '../../components/snackbar.component.vue';
    import {buildTableRequest} from '../../models/table-request.interface';
    import ProjectsService from '../../services/projects.service';
    import SelectItemInterface from '../../models/select-item.interface';
    import ModelsService from '../../services/models.service';

    @Component({
        components: {
            ActionsCellComponent,
            SnackbarComponent
        }
    })
    export default class BodyListPage extends Vue {

        @Inject() public bodyService: BodyService;
        @Inject() public projectsService: ProjectsService;
        @Inject() public modelsService: ModelsService;

        public get currentProject(): ProjectInterface {
            return this.$store.getters[GET_CURRENT_PROJECT];
        }

        @Ref() public tableRef;

        public totalPages: number = 0;

        public filterName: string = '';
        public filterProject: number = this.currentProject ? this.currentProject.id : 0;
        public filterModel: number = 0;

        public filterSelectProjectItems: SelectItemInterface[] = [];
        public filterSelectModelItems: SelectItemInterface[] = [];

        public columns: string[] = ['id', 'name', 'model_name', 'project_name', 'actions'];
        public options: any = {
            columnsClasses: {
                actions: 'cell-actions',
                project_name: 'cell-project_name',
                model_name: 'cell-model_name'
            },
            requestFunction: (nativeQuery: any) => {
                return this.bodyService.getRows(buildTableRequest(nativeQuery, this.getFilters()))
            }
        }

        public previewDialogIsOpened: boolean = false;
        public previewDialogContent: {} = {};

        public snackbarController: SnackbarController = new SnackbarController();

        public created(): void {
            this.projectsService.getInfoRows()
                .then(res => {
                    this.filterSelectProjectItems = res.map(item => {
                        return {
                            text: item.name,
                            value: item.id
                        }
                    });
                    this.filterSelectProjectItems.unshift({
                        text: 'All',
                        value: 0
                    })
                })

            if(this.currentProject) {
                this.onSelectProject(this.currentProject.id);
            } else {
                this.onSelectProject(0);
            }
        }

        public onSelectProject(projectId: number) {
            
            if(projectId) {
                this.modelsService.getInfoRows(+projectId)
                    .then(res => {
                        this.filterSelectModelItems = res.map(item => {
                            return {
                                text: item.name,
                                value: item.id
                            }
                        });
                        this.filterSelectModelItems.unshift({
                            text: 'All',
                            value: 0
                        });
                    })
            } else {
                this.modelsService.getAllInfoRows()
                    .then(res => {
                        this.filterSelectModelItems = res.map(item => {
                            return {
                                text: item.name,
                                value: item.id
                            }
                        });
                        this.filterSelectModelItems.unshift({
                            text: 'All',
                            value: 0
                        });
                    })
            }

        }

        public onSelectModel(modelId: number): void {
            if(modelId) {
                this.projectsService.getInfoRowsByModel(modelId)
                    .then(res => {
                        this.filterSelectProjectItems = res.map(item => {
                            return {
                                text: item.name,
                                value: item.id
                            }
                        });
                        this.filterSelectProjectItems.unshift({
                            text: 'All',
                            value: 0
                        });
                    });
            } else {
                this.projectsService.getInfoRows()
                    .then(res => {
                        this.filterSelectProjectItems = res.map(item => {
                            return {
                                text: item.name,
                                value: item.id
                            }
                        });
                        this.filterSelectProjectItems.unshift({
                            text: 'All',
                            value: 0
                        });
                    });
            }
        }

        public getFilters(): any {
            const filters = {};

            if(this.filterName !== '') {
                filters['name'] = {
                    type: 'CONTAINS',
                    query: this.filterName
                }
            }

            if(this.filterProject !== 0) {
                filters['project_id'] = {
                    type: 'EQUALS',
                    query: this.filterProject
                }
            }

            if(this.filterModel) {
                filters['model_id'] = {
                    type: 'EQUALS',
                    query: this.filterModel
                }
            }

            return filters;
        }

        public updateFilters(): void {
            this.tableRef.getData();
        }

        public onTableLoaded(data: any): void {
            this.totalPages = this.tableRef.totalPages;
            if(this.totalPages && this.tableRef.page > this.tableRef.totalPages) {
                this.onChangePage(this.tableRef.totalPages);
                return;
            }
        }

        public onChangePage(page: number): void {
            this.tableRef.setPage(page);
        }

        public edit(id: number): void {
            this.$router.push(this.$router.currentRoute.path + `/edit/${id}`);
        }

        public view(id: number): void {
            this.bodyService.getPreviewById(id)
                .then(res => {
                    this.previewDialogContent = res;
                    this.previewDialogIsOpened = true;
                })
        }

        public newBody() {
            this.$router.push(this.$router.currentRoute.path + `/new`);
        }

        public remove(id: number) {
            this.bodyService.remove(id)
                .then(res => {
                    this.snackbarController.openSuccess(`Body ${res.name} is deleted`);
                    this.tableRef.getData();
                })
        }

    }
</script>
