@import './v-card';
@import './v-text-field';
@import './v-list';
@import './v-btn';
@import './v-pagination';
@import './v-select';

.v-text-field {
    &--outlined {
        &.v-select:not(.v-text-field--single-line) .v-select__selections {
            padding: 0;
        }
        > .v-input__control {
            > .v-input__slot {
                min-height: 45px;
                margin-bottom: 0;
                transition: 0.2s;
                
            }
            .v-text-field__details {
                max-height: 0;
                min-height: 0;
                margin-bottom: 0;
                transition: 0.2s;
            }
        }
        .v-label {
            top: 13px;
            padding: 0;
            &--active {
                transform: translateY(-20px) scale(0.75);
            }
        }
    }
    &.v-text-field--enclosed .v-input__append-inner {
        margin-top: 11px;
    }
}

.v-input {
    &--selection-controls {
        padding-top: 0!important;
        margin-top: 0!important;
        > .v-input__control {
            > .v-input__slot {
                margin-bottom: 0!important;
                transition: 0.2s;
                
            }
            .v-messages {
                max-height: 0;
                min-height: 0;
                margin-bottom: 0;
                transition: 0.2s;
            }
        }
        .v-label {
            top: 13px;
            padding: 0!important;
            &--active {
                transform: translateY(-20px) scale(0.75);
            }
        }
    }
}

.error--text {

    &.v-text-field {
        &--outlined {
            > .v-input__control {
                > .v-input__slot {
                    margin-bottom: 8px;
                }
                .v-text-field__details {
                    max-height: 100%;
                    min-height: 14px;
                    margin-bottom: 8px;
                }
            }
        }
    }

    &.v-input {
        &--selection-controls {
            > .v-input__control {
                > .v-input__slot {
                    margin-bottom: 8px!important;
                }
                .v-messages {
                    max-height: 100%!important;
                    min-height: 14px!important;
                    margin-bottom: 8px!important;
                }
            }
        }
    }

}