.v-card {
    &__text {
        flex-wrap: wrap;
        
        &.small-margin-top {
            margin-top: 10px;
        }
        &.middle-margin-top {
            margin-top: 25px;
        }
        &.padding {
            padding-left: 25px;
            padding-right: 25px;
        }
    }
    &__actions {
        justify-content: flex-end;
    }
}