<template>
    <div id="routes-page">

        <v-expansion-panels class="content-margin" :value="0">
            <v-expansion-panel>
                <v-expansion-panel-header>
                    <span><v-icon>filter_list</v-icon> Filters</span>
                </v-expansion-panel-header>
                <v-expansion-panel-content>
                    
                    <div class="filters">

                        <v-text-field
                            outlined
                            class="filters__input"
                            label="Name"
                            @change="updateFilters()"
                            v-model="filterName"></v-text-field>

                        <v-select
                            outlined
                            class="filters__input"
                            label="Response type"
                            :items="filterResponseTypeItems"
                            @change="updateFilters()"
                            v-model="filterResponseType"></v-select>

                        <v-text-field
                            outlined
                            class="filters__input"
                            label="Route"
                            @change="updateFilters()"
                            v-model="filterRoute"></v-text-field>

                        <v-select
                            outlined
                            class="filters__input"
                            label="Project"
                            :items="filterProjectItems"
                            @change="updateFilters()"
                            v-model="filterProject"></v-select>

                    </div>

                </v-expansion-panel-content>
            </v-expansion-panel>
        </v-expansion-panels>

        <div class="table-page-actions-block content-margin">
            <v-btn @click="initCreatingRoute()" color="primary">New route</v-btn>
        </div>

        <v-server-table class="content-margin" ref="tableRef" @loaded="onTableLoaded($event)" :columns="columns" :options="options">
            <actions-cell-component 
                slot="actions" slot-scope="props"
                :edit="() => initEditRoute(props.row.id)"
                :view="() => props.row.body_id ? viewBody(props.row.body_id) : viewList(props.row.list_id)"
                :remove="() => remove(props.row.id)"
            ></actions-cell-component>
        </v-server-table>

        <v-pagination
            v-if="tableRef && tableRef.totalPages > 1"
            :value="tableRef.page"
            @input="onChangePage($event)"
            :length="tableRef.totalPages"
            :total-visible="10"
            ></v-pagination>

        <v-dialog
            v-model="dialogIsOpened"
            max-width="350">
            <v-card id="dialog-route">
                <v-toolbar flat color="primary">
                    <v-toolbar-title v-if="!newRoute.id">Create route</v-toolbar-title>
                    <v-toolbar-title v-if="newRoute.id">Edit route</v-toolbar-title>
                </v-toolbar>
                <v-card-text
                    class="small-margin-top">

                    <div class="content-margin">
                        <v-text-field 
                            v-model="newRoute.name"
                            outlined
                            label="Name"
                            :rules="[RULES.REQUIRED]"/>
                    </div>

                    <div class="content-margin">
                        <v-text-field 
                            v-model="newRoute.route"
                            outlined
                            label="Route"
                            required
                            :rules="[RULES.REQUIRED, RULES.ROUTE]"/>
                    </div>

                    <div class="content-margin">
                        <v-select
                            v-model="newRoute.projectId"
                            outlined
                            :items="selectProjectItems"
                            label="Project"
                            @change="onSelectProject($event)"
                            :rules="[RULES.REQUIRED]"/>
                    </div>

                    <div v-if="newRoute.projectId" class="content-margin">
                        <v-select
                            v-model="selectedResponseType"
                            outlined
                            :items="responseTypeSelectItems"
                            label="Response type"
                            @change="onChangeType()"
                            :rules="[RULES.REQUIRED]"/>
                    </div>

                    <div v-if="newRoute.projectId && selectedResponseType === 'BODY'" class="content-margin">
                        <v-select
                            v-model="newRoute.bodyId"
                            outlined
                            :items="selectBodyItems"
                            label="Body"
                            :rules="[RULES.REQUIRED]"/>
                    </div>

                    <div v-if="newRoute.projectId && selectedResponseType === 'LIST'" class="content-margin">
                        <v-select
                            v-model="newRoute.listId"
                            outlined
                            :items="selectListItems"
                            label="List"
                            :rules="[RULES.REQUIRED]"/>
                    </div>

                    <!-- <div>
                        <v-select
                            v-model="newRoute.responseType"
                            outlined
                            :items="responseTypes"
                            label="Response type"
                            :rules="[RULES.REQUIRED]"/>
                    </div> -->

                </v-card-text>

                <v-card-actions class="dialog-buttons">
                    <v-btn v-if="newRoute.id === null" @click="createRoute()" color="primary">Create</v-btn>
                    <v-btn v-if="newRoute.id !== null" @click="updateRoute()" color="primary">Update</v-btn>
                    <v-btn @click="closeDialog()">Cancel</v-btn>
                </v-card-actions>

                <template v-if="newRoute.id">
                    <v-divider class="divider"></v-divider>
                    <v-btn @click="remove(newRoute.id)" text color="red">Delete</v-btn>
                </template>

            </v-card>
        </v-dialog>

        <v-dialog v-model="previewDialogIsOpened" width="300px">
            <v-card>
                <v-card-text>
                    <code>{{previewDialogContent}}</code>
                </v-card-text>
            </v-card>
        </v-dialog>

        <snackbar-component :controller="snackbarController"/>

    </div>
</template>

<style lang="scss">
    #routes-page {
        .filters {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: -10px;

            &__input {
                width: 280px;
                margin-right: 15px!important;
                margin-bottom: 10px;
                flex: inherit;
            }
            
        }

        @media (max-width: 719px) {

        }

        @media (max-width: 991px) {
            .filters {
                margin-bottom: 0;
                &__input {
                    width: 100%;
                    margin-right: 0!important;
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
            .cell-response_type,
            .cell-project_name {
                display: none;
            }
        }
    }

    #dialog-route {
        .divider {
            margin-top: 10px;
        }
        .dialog-buttons {
            margin-top: -15px;
        }
    }
</style>

<script lang="ts">
    import { Component, Vue, Inject, Ref } from 'vue-property-decorator'; 
    import ProjectRoutesService from '../services/project-routes.service';
    import BodyService from '../services/body.service';
    import ProjectRouteInterface from '../models/project-route.interface';
    import BodyInterface from '../models/body.interface';
    import ProjectInterface from '../models/project.interface';
    import SelectItemInterface from '../models/select-item.interface'
    import * as RULES from '../rules/base.rule';
    import SnackbarComponent from '../components/snackbar.component.vue';
    import SnackbarController from '../controllers/sackbar.controller';
    import {valid  as validateRules} from '../rules/arrays.rule';
    import ActionsCellComponent from '../components/actions-cell.component.vue';
    import { ACTION_SELECT_CURRENT_PROJECT, GET_CURRENT_PROJECT } from '../store/current-project.module';
    import ListsService from '../services/lists.service';
    import ListInterface from '../models/list.interface';
    import {buildTableRequest} from '../models/table-request.interface';
    import ProjectsService from '../services/projects.service';
    import ResponseTypeConstants from '../constants/response-type.constants';

    @Component({
        components: {
            ActionsCellComponent,
            SnackbarComponent
        }
    })
    export default class ProjectRoutesPage extends Vue {

        @Inject() public projectRoutesService: ProjectRoutesService;
        @Inject() public projectsService: ProjectsService;
        @Inject() public bodyService: BodyService;
        @Inject() public listsService: ListsService;

        public get currentProject(): ProjectInterface {
            return this.$store.getters[GET_CURRENT_PROJECT];
        }

        @Ref() public tableRef;

        public totalPages: number = 0;

        public RULES = RULES;

        public columns: string[] = ['name', 'response_type', 'route', 'project_name', 'actions'];
        public options: any = {
            columnsClasses: {
                actions: 'cell-actions',
                project_name: 'cell-project_name',
                response_type: 'cell-response_type'
            },
            requestFunction: (nativeQuery: any) => {
                return this.projectRoutesService.getRows(buildTableRequest(nativeQuery, this.getFilters()))
            }
        }

        public filterName: string = '';
        public filterResponseType: string = '';
        public filterRoute: string = '';
        public filterProject: number = 0;

        public filterResponseTypeItems: SelectItemInterface[] = [];
        public filterProjectItems: SelectItemInterface[] = [];

        public dialogIsOpened: boolean = false;
        public selectProjectItems: SelectItemInterface[] = [];
        public selectBodyItems: SelectItemInterface[] = [];
        public selectListItems: SelectItemInterface[] = [];
        public responseTypes: string[] = [];
        public newRoute: ProjectRouteInterface = {
            id: null,
            name: '',
            route: '',
            projectId: this.currentProject ? this.currentProject.id : null,
            bodyId: null,
            listId: null,
            responseType: 'JSON',
            errors: null
        };

        public previewDialogIsOpened: boolean = false;
        public previewDialogContent: {} = {};

        public snackbarController: SnackbarController = new SnackbarController();

        public responseTypeSelectItems: string[] = ['BODY', 'LIST'];
        public selectedResponseType: string = 'BODY';

        public created(): void {

            this.filterResponseTypeItems = Object.keys(ResponseTypeConstants).map(item => {
                return {
                    text: ResponseTypeConstants[item],
                    value: ResponseTypeConstants[item]
                }
            });

            this.filterResponseTypeItems.unshift({
                text: 'All',
                value: ''
            })

            if(this.currentProject) {
                this.onSelectProject(this.currentProject.id);
                this.filterProject = this.currentProject.id;
            }

            this.projectsService.getInfoRows()
                .then(res => {
                    this.selectProjectItems = res.map(item => {
                        return {
                            text: item.name,
                            value: item.id
                        }
                    });
                    this.filterProjectItems = [...this.selectProjectItems];
                    this.filterProjectItems.unshift({
                        text: 'All',
                        value: 0
                    })
                })

            this.projectRoutesService.getResponseTypes()
                .then((types: string[]) => {
                    this.responseTypes = types;
                })
            
        }

        public onSelectProject(projectId: number): void {

            this.bodyService.getInfoRows(projectId)
                .then(res => {
                    this.selectBodyItems = res.map(item => {
                        return {
                            text: item.name,
                            value: item.id
                        }
                    })
                });

            this.listsService.getInfoRows(projectId)
                .then(res => {
                    this.selectListItems = res.map(item => {
                        return {
                            text: item.name,
                            value: item.id
                        }
                    })
                });
        }

        public getFilters(): any {
            const filters = {};

            if(this.filterName !== '') {
                filters['name'] = {
                    type: 'CONTAINS',
                    query: this.filterName
                }
            }

            if(this.filterResponseType !== '') {
                filters['response_type'] = {
                    type: 'EQUALS',
                    query: this.filterResponseType
                }
            }

            if(this.filterRoute !== '') {
                filters['route'] = {
                    type: 'CONTAINS',
                    query: this.filterRoute
                }
            }

            if(this.filterProject !== 0) {
                filters['project_id'] = {
                    type: 'EQUALS',
                    query: this.filterProject
                }
            }

            return filters;
        }

        public updateFilters(): void {
            this.tableRef.getData();
        }

        public onTableLoaded(data: any): void {
            this.totalPages = this.tableRef.totalPages;
            if(this.totalPages && this.tableRef.page > this.tableRef.totalPages) {
                this.onChangePage(this.tableRef.totalPages);
                return;
            }
        }

        public onChangePage(page: number): void {
            this.tableRef.setPage(page);
        }

        public viewBody(bodyId: number): void {
            this.bodyService.getPreviewById(bodyId)
                .then((res) => {
                    this.previewDialogContent = res;
                    this.previewDialogIsOpened = true;
                })
        }
        
        public viewList(listId: number): void {
            this.listsService.getPreviewById(listId)
                .then((res) => {
                    this.previewDialogContent = res;
                    this.previewDialogIsOpened = true;
                })
        }

        public initCreatingRoute(): void {
            this.newRoute = {
                id: null,
                name: '',
                route: '',
                projectId: this.currentProject ? this.currentProject.id : null,
                bodyId: null,
                listId: null,
                responseType: 'JSON',
                errors: null
            }
            this.dialogIsOpened = true;
        }

        public initEditRoute(routeId: number): void {
            this.projectRoutesService.getById(routeId)
                .then(res => {
                    this.newRoute = res;
                    this.selectedResponseType = this.newRoute.bodyId ? 'BODY' : 'LIST';
                    this.dialogIsOpened = true;
                    this.onSelectProject(this.newRoute.projectId)
                })
        }

        public closeDialog(): void {
            this.dialogIsOpened = false;
        }

        public isValid(): boolean {
            let isValid: string | boolean;

            isValid = RULES.REQUIRED(this.newRoute.name);

            if(!isValid || typeof isValid === 'string') {
                this.snackbarController.openError('Field Name is: ' + isValid);
                return false;
            }

            isValid = validateRules([RULES.REQUIRED, RULES.ROUTE], this.newRoute.route);

            if(!isValid || typeof isValid === 'string') {
                this.snackbarController.openError('Field Route is: ' + isValid);
                return false;
            }

            // isValid = RULES.REQUIRED(this.newRoute.bodyId) && RULES.REQUIRED(this.newRoute.listId);

            if(!this.newRoute.bodyId && !this.newRoute.listId) {
                this.snackbarController.openError('Response type is required.');
                return false;
            }
            
            return true;
        }

        public createRoute(): void {
            if(!this.isValid()) return;
            this.projectRoutesService.create(this.newRoute)
                .then((res: ProjectRouteInterface) => {
                    if(res.errors === null) {
                        this.tableRef.getData();
                        this.snackbarController.openSuccess('ok');
                        this.dialogIsOpened = false;
                    } else {
                        this.snackbarController.openError(JSON.stringify(res.errors));
                    }
                });
        }

        public updateRoute(): void {
            if(!this.isValid()) return;
            this.projectRoutesService.update(this.newRoute)
                .then((res: ProjectRouteInterface) => {
                    if(res.errors === null) {
                        this.tableRef.getData();
                        this.snackbarController.openSuccess('ok');
                        this.dialogIsOpened = false;
                    } else {
                        this.snackbarController.openError(JSON.stringify(res.errors));
                    }
                });
        }

        public onChangeType(): void {
            this.newRoute.listId = this.newRoute.bodyId = null;
        }

        public remove(id: number): void {
            this.projectRoutesService.remove(id)
                .then(res => {
                    this.snackbarController.openSuccess(`Route ${res.name} is deleted`);
                    this.dialogIsOpened = false;
                    this.tableRef.getData();
                })
        }
        
    }
</script>