<template>
    <v-card class="elevation-12">
        <v-toolbar
        color="primary"
        dark
        flat
        >
            <v-toolbar-title>Registry form</v-toolbar-title>
        </v-toolbar>
        <v-card-text>
            <v-form>

                <v-text-field
                    label="Name"
                    name="name"
                    prepend-icon="perm_identity"
                    type="text"
                    v-model="user.name"
                    :rules="[RULES.REQUIRED]"
                ></v-text-field>

                <v-text-field
                    label="Login"
                    name="login"
                    prepend-icon="person"
                    type="text"
                    v-model="user.login"
                    :rules="ARR_RULES.USER_LOGIN"
                ></v-text-field>

                <v-text-field
                    label="E-mail"
                    name="email"
                    prepend-icon="email"
                    type="text"
                    v-model="user.email"
                    :rules="ARR_RULES.USER_EMAIL"
                ></v-text-field>

                <v-text-field
                    label="Password"
                    name="password"
                    prepend-icon="lock"
                    type="password"
                    v-model="user.password"
                    :rules="ARR_RULES.USER_PASSWORD"
                ></v-text-field>

                <v-text-field
                    label="Password (confirm)"
                    name="password_confirm"
                    prepend-icon="lock"
                    type="password"
                    v-model="passwordConfirm"
                    :rules="passwordConfirmValidator()"
                ></v-text-field>

                <v-select
                    label="You are"
                    name="you_are"
                    prepend-icon="work"
                    :items="youAreArr"
                    v-model="user.youAre"
                    :rules="[RULES.REQUIRED]"
                ></v-select>

                <v-text-field
                    label="Name of institution"
                    name="name_of_institution"
                    prepend-icon="info"
                    type="text"
                    v-model="user.companyName"
                    :rules="[RULES.REQUIRED]"
                ></v-text-field>

            </v-form>
        </v-card-text>
        <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="primary" @click="create()">Registration</v-btn>
        </v-card-actions>

        <snackbar-component :controller="snackbarController"/>
    </v-card>
</template>

<script lang="ts">
    import { Component, Vue, Inject, Emit } from 'vue-property-decorator';
    import { Base64 } from 'js-base64';
    import {AxiosInstance} from 'axios';
    import UsersService from '../services/users.service';
    import AuthService from '../services/auth.service';
    import TokenRepository from '../repository/token.repository';
    import { ACTION_LOGIN } from '../store/current-user.module';
    import UserInterface from '../models/user.interface';
    import UserDetailsInterface from '../models/user-details.interface';
    import { enumToArray } from '../functions';
    import * as RULES from '../rules/base.rule';
    import * as ARR_RULES from '../rules/arrays.rule';
    import SnackbarComponent from '../components/snackbar.component.vue';
    import SnackbarController from '../controllers/sackbar.controller';
    import YouAreConstants from '../constants/you-are.constants';

    @Component({
        components: {
            SnackbarComponent
        },
        props: {
            source: String
        }
    })
    export default class RegistrationPage extends Vue {

        @Inject() public authService: AuthService;
        @Inject() public usersService: UsersService;

        public youAreArr: string[] = Object.keys(YouAreConstants).map(item => YouAreConstants[item]);

        public user: UserDetailsInterface = {
            id: null,
            name: '',
            login: '',
            email: '',
            youAre: 'STUDENT',
            password: '',
            role: 'USER',
            errors: null
        }

        public passwordConfirm: string = '';

        public RULES = RULES;
        public ARR_RULES = ARR_RULES;

        public snackbarController: SnackbarController = new SnackbarController();

        public passwordConfirmValidator(): any {
            return [(value: string) => RULES.REQUIRED(value), (value: string) => this.user.password === value || 'Invalid'];
            // return this.user.password === this.passwordConfirm || 'Invalid';
        } 

        public create(): void {

            let isValid: boolean | string = this.RULES.REQUIRED(this.user.name);

            if(typeof isValid === 'string') {
                this.snackbarController.openError('Field "name": ' + isValid);
                return;
            }

            isValid = this.ARR_RULES.valid(this.ARR_RULES.USER_LOGIN, this.user.login);

            if(typeof isValid === 'string') {
                this.snackbarController.openError('Field "login": ' + isValid);
                return;
            }

            isValid = this.ARR_RULES.valid(this.ARR_RULES.USER_EMAIL, this.user.email);

            if(typeof isValid === 'string') {
                this.snackbarController.openError('Field "email": ' + isValid);
                return;
            }

            isValid = this.ARR_RULES.valid(this.ARR_RULES.USER_PASSWORD, this.user.password);

            if(typeof isValid === 'string') {
                this.snackbarController.openError('Field "password": ' + isValid);
                return;
            }

            isValid = this.ARR_RULES.valid(this.passwordConfirmValidator(), this.passwordConfirm);

            if(typeof isValid === 'string') {
                this.snackbarController.openError('Field "password (confirm)": ' + isValid);
                return;
            }

            isValid = this.RULES.REQUIRED(this.user.companyName);

            if(typeof isValid === 'string') {
                this.snackbarController.openError('Field "company name": ' + isValid);
                return;
            }

            this.usersService.create(this.user)
                .then((res: UserInterface) => {
                    if(res.errors === null) {
                        this.snackbarController.openSuccess('ok');
                        this.$router.push('/login');
                    } else {
                        this.snackbarController.openError(JSON.stringify(res.errors));
                    }
                })
        }

    }
</script>
