<template>
    <div class="actions-cell">
        <v-btn 
            class="actions-cell__item"
            v-if="view"
            color="primary"
            @click="view()"
            depressed >
            <v-icon left>remove_red_eye</v-icon>
            View
        </v-btn>
        <v-btn 
            class="actions-cell__item"
            v-if="edit"
            color="secondary"
            @click="edit()"
            depressed >
            <v-icon left>edit</v-icon>
            Edit
        </v-btn>
        <v-btn 
            class="actions-cell__item"
            v-if="remove"
            color="red"
            @click="remove()"
            depressed >
            <v-icon left>close</v-icon>
            Delete
        </v-btn>
    </div>
</template>

<style lang="scss">
    .actions-cell {
        // text-align: right;
        &__item {
            margin-top: 2.5px;
            margin-bottom: 2.5px;
            margin-left: 10px;
            &:first-child {
                margin-left: 0;
            }
        }
    }
</style>

<script lang="ts">
    import { Component, Vue, Prop } from 'vue-property-decorator';
    
    @Component
    export default class ActionsCellComponent extends Vue {

        @Prop() public view: () => void | null;
        @Prop() public edit: () => void | null;
        @Prop() public remove: () => void | null;
        
    }
</script>

