<template>
    <div>
        <v-dialog 
            v-model="dialogIsOpened"
            max-width="320">
            <v-card
                width="100%">

                <v-toolbar flat color="primary">
                    <v-toolbar-title v-if="project.id">Edit project</v-toolbar-title>
                    <v-toolbar-title v-if="!project.id">Create project</v-toolbar-title>
                </v-toolbar>

                <v-card-text class="middle-margin-top">

                    <div class="content-margin">
                        <v-text-field
                            outlined
                            v-model="project.name"
                            label="Name"></v-text-field>
                    </div>

                    <div class="content-margin">
                        <v-select
                            outlined
                            :items="[true, false]"
                            v-model="project.auth"
                            label="Auth">
                        </v-select>
                    </div>

                    <div class="content-margin">
                        <v-select
                            outlined
                            :items="[true, false]"
                            v-model="project.active"
                            label="Active">
                        </v-select>
                    </div>

                    <div>
                        <is-current-project-cell-component
                            label="Is current project"
                            :project="project"
                            ></is-current-project-cell-component>
                    </div>                        

                </v-card-text>

                <v-card-actions>
                    <v-btn @click="onSave()" color="primary">Save</v-btn>
                    <v-btn @click="onCancel()">Cancel</v-btn>
                </v-card-actions>

                <template v-if="project.id">
                    <v-divider class="divider"></v-divider>
                    <v-btn @click="onRemove()" text color="red">Delete</v-btn>
                </template>


            </v-card>

        </v-dialog>

        <snackbar-component :controller="snackbarController"/>
        
    </div>
</template>

<style lang="scss">
    .divider {
        margin-top: 10px;
    }
</style>

<script lang="ts">
    import { Component, Vue, Inject, Prop, Emit } from 'vue-property-decorator';
    import { ACTION_SELECT_CURRENT_PROJECT, GET_CURRENT_PROJECT, ACTION_RESET_CURRENT_PROJECT } from '../store/current-project.module';  
    import { GET_CURRENT_USER } from '../store/current-user.module';  
    import ProjectInterface from '../models/project.interface';
    import * as RULES from '../rules/base.rule';
    import SnackbarController from '../controllers/sackbar.controller';
    import SnackbarComponent from './snackbar.component.vue';
    import ProjectsService from '../services/projects.service';
    import IsCurrentProjectCellComponent from './is-current-project-cell.component.vue';

    @Component({
        components: {
            SnackbarComponent,
            IsCurrentProjectCellComponent
        }
    })
    export default class ProjectDialogComponent extends Vue {

        @Inject() public projectsService: ProjectsService;

        @Prop() public projectId: number;
        @Prop() public value: boolean;

        public get dialogIsOpened(): boolean {
            if(this.value && this.projectId) {
                this.projectsService.getById(this.projectId)
                    .then(res => this.project = res);
            } else {
                this.project = {
                    id: null,
                    name: '',
                    userId: this.$store.getters[GET_CURRENT_USER].id,
                    auth: false,
                    active: true,
                    errors: null
                }
            }

            return this.value;
        }

        public set dialogIsOpened(value: boolean) {
            this.input(value);
            if(value === false) this.cancel();
        }

        public get currentProject(): ProjectInterface {
            return this.$store.getters[GET_CURRENT_PROJECT];
        }

        public project: ProjectInterface = {
            id: null,
            name: '',
            userId: this.$store.getters[GET_CURRENT_USER].id,
            auth: false,
            active: true,
            errors: null
        };

        public RULES: any = RULES;

        public snackbarController: SnackbarController = new SnackbarController();

        @Emit() public input(value: boolean): boolean {
            return value;
        }

        @Emit() public cancel(): void {
            return
        }

        @Emit() public save(project: ProjectInterface): ProjectInterface {
            if(this.currentProject && this.currentProject.id === this.project.id) {
                this.$store.dispatch(ACTION_SELECT_CURRENT_PROJECT, this.project);
            }
            return project;
        }

        @Emit() public remove(project: ProjectInterface): ProjectInterface {
            return project;
        }

        @Emit() public create(project: ProjectInterface): ProjectInterface {
            return project;
        }

        @Emit() public update(project: ProjectInterface): ProjectInterface {
            return project;
        }

        public onCancel(): void {
            this.dialogIsOpened = false;
            this.cancel();
        }

        public onSave(): void {
            const isValid = RULES.REQUIRED(this.project.name);

            if(typeof isValid === 'string') {
                this.snackbarController.openError('Field name is ' + isValid);
                return;
            }

            if(this.project && this.project.id) {
                this.projectsService.update(this.project)
                    .then((res: ProjectInterface) => {
                        if(res.errors === null) {
                            this.snackbarController.openSuccess('OK');
                            this.save(res);
                            this.update(res);
                        } else {
                            this.snackbarController.openError(JSON.stringify(res.errors));
                        }
                    })
            } else {
                this.projectsService.create(this.project)
                    .then((res: ProjectInterface) => {
                        if(res.errors === null) {
                            this.snackbarController.openSuccess('OK');
                            this.project = res;
                            this.save(res);
                            this.create(res);
                        } else {
                            this.snackbarController.openError(JSON.stringify(res.errors));
                        }
                    })
            }
        }

        public onRemove(): ProjectInterface {
            this.projectsService.remove(this.project.id)
                .then(res => {
                    this.snackbarController.openSuccess(`Project ${res.name} is deleted`);
                    this.dialogIsOpened = false;

                    if(this.currentProject && this.currentProject.id === res.id) {
                        this.$store.dispatch(ACTION_RESET_CURRENT_PROJECT)
                    }

                    this.remove(res);
                });
            return this.project;
        }

    }
</script>