<template>
    <v-snackbar
        v-model="controller.opened"
        :color="controller.color"
        :timeout="time">
        {{controller.text}}
        <v-btn @click="controller.opened = false" fab small dark icon>
            <v-icon>close</v-icon>
        </v-btn>
    </v-snackbar>
</template>

<style lang="scss">

</style>

<script lang="ts">
    import { Component, Vue, Emit, Prop } from 'vue-property-decorator';
    import SnackbarController from '../controllers/sackbar.controller';

    @Component
    export default class SelectPopupComponent extends Vue {

        @Prop() public controller: SnackbarController;
        
        public time: number = 3000;

    }
</script>