<template>
    <div id="projects-page">

        <v-expansion-panels class="content-margin" :value="0">
            <v-expansion-panel>
                <v-expansion-panel-header>
                    <span><v-icon>filter_list</v-icon> Filters</span>
                </v-expansion-panel-header>
                <v-expansion-panel-content>
                    
                    <div class="filters">

                        <v-text-field
                            outlined
                            class="filters__input"
                            label="Name"
                            @change="updateFilters()"
                            v-model="filterName"></v-text-field>

                        <v-select
                            outlined
                            class="filters__input"
                            label="Need auth"
                            :items="filterIsAuthSelectItems"
                            @change="updateFilters()"
                            v-model="filterIsAuth"></v-select>

                        <v-select
                            outlined
                            class="filters__input"
                            label="Is active"
                            :items="filterIsActiveSelectItems"
                            @change="updateFilters()"
                            v-model="filterIsActive"></v-select>

                    </div>

                </v-expansion-panel-content>
            </v-expansion-panel>
        </v-expansion-panels>

        <div class="table-page-actions-block content-margin">
            <v-btn @click="newProject()" color="primary">New project</v-btn>
        </div>

        <v-server-table class="content-margin table" ref="tableRef" @loaded="onTableLoaded($event)" :columns="columns" :options="options">
            <span slot="auth" slot-scope="props">{{new String(props.row.auth)}}</span>
            <span slot="active" slot-scope="props">{{new String(props.row.active)}}</span>
            <is-current-project-cell-component
                slot="is_current"
                slot-scope="props"
                :project="props.row"
                ></is-current-project-cell-component>
            <actions-cell-component 
                slot="actions" slot-scope="props"
                :edit="() => edit(props.row.id)"
                :remove="() => remove(props.row.id)"
            ></actions-cell-component>
        </v-server-table>

        <v-pagination
            v-if="totalPages > 1"
            :value="tableRef.page"
            @input="onChangePage($event)"
            :length="totalPages"
            :total-visible="10"
            ></v-pagination>

        <project-dialog-component 
            v-model="projectDialogIsOpened"
            @remove="onRemove($event)"
            @update="onUpdate($event)"
            @create="onCreate($event)"
            :projectId="openedProjectId" />

        <snackbar-component :controller="snackbarController"/>

    </div>
</template>

<style lang="scss">
    #projects-page {
        .filters {
            display: flex;
            flex-wrap: wrap;

            &__input {
                width: 280px;
                margin-right: 15px!important;
                flex: inherit;
            }
            
        }

        .table {
            .cell- {
                &name {
                    max-width: 150px;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
            }
        }

        @media (max-width: 991px) {
            .filters {
                &__input {
                    width: 100%;
                    margin-bottom: 10px;
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
            .table {
                .cell- {
                    &is_current,
                    &active,
                    &auth {
                        display: none;
                    }
                }
            }
        }
    }
</style>

<script lang="ts">
    import { Component, Vue, Inject, Ref } from 'vue-property-decorator';
    import ProjectInterface from '../../models/project.interface';
    import ProjectsService from '../../services/projects.service';
    import ActionsCellComponent from '../../components/actions-cell.component.vue';
    import { ACTION_SELECT_CURRENT_PROJECT, GET_CURRENT_PROJECT, ACTION_RESET_CURRENT_PROJECT } from '../../store/current-project.module';
    import IsCurrentProjectCellComponent from '../../components/is-current-project-cell.component.vue';
    import ProjectDialogComponent from '../../components/project-dialog.component.vue';
    import SnackbarController from '../../controllers/sackbar.controller';
    import SnackbarComponent from '../../components/snackbar.component.vue';
    import {buildTableRequest} from '../../models/table-request.interface';
    import SelectItemInterface from '../../models/select-item.interface';

    @Component({
        components: {
            ActionsCellComponent,
            IsCurrentProjectCellComponent,
            ProjectDialogComponent,
            SnackbarComponent
        }
    })
    export default class ProjectsPage extends Vue {

        @Inject() public projectsService: ProjectsService;

        public get currentProject(): ProjectInterface {
            return this.$store.getters[GET_CURRENT_PROJECT];
        }

        @Ref() public tableRef;

        public totalPages: number = 0;

        public columns: string[] = ['id', 'name', 'auth', 'active', 'is_current', 'actions'];
        public options: any = {
            columnsClasses: {
                name: 'cell-name',
                auth: 'cell-auth',
                active: 'cell-active',
                is_current: 'cell-is_current',
                actions: 'cell-actions'
            },
            requestFunction: (nativeQuery: any) => {
                return this.projectsService.getRows(buildTableRequest(nativeQuery, this.getFilters()))
            }
        }

        public filterName: string = '';
        public filterIsAuth: boolean | string = '';
        public filterIsActive: boolean | string = '';

        public filterIsAuthSelectItems: SelectItemInterface[] = [
            {
                text: 'All',
                value: ''
            },
            {
                text: 'true',
                value: true
            },
            {
                text: 'false',
                value: false
            }
        ];

        public filterIsActiveSelectItems: SelectItemInterface[] = [
            {
                text: 'All',
                value: ''
            },
            {
                text: 'true',
                value: true
            },
            {
                text: 'false',
                value: false
            }
        ];

        public projectDialogIsOpened: boolean = false;
        public openedProjectId: number | null = null;

        public snackbarController: SnackbarController = new SnackbarController();

        public getFilters(): any {
            const filters = {};

            if(this.filterName !== '') {
                filters['name'] = {
                    type: 'CONTAINS',
                    query: this.filterName
                }
            }

            if(this.filterIsAuth !== '') {
                filters['auth'] = {
                    type: 'EQUALS',
                    query: this.filterIsAuth
                }
            }

            if(this.filterIsActive !== '') {
                filters['active'] = {
                    type: 'EQUALS',
                    query: this.filterIsActive
                }
            }

            return filters;
        }

        public updateFilters(): void {
            this.tableRef.getData();
        }

        public onTableLoaded(data: any): void {
            this.totalPages = this.tableRef.totalPages;
            if(this.tableRef.page > this.tableRef.totalPages) {
                this.onChangePage(this.tableRef.totalPages);
                return;
            }
        }

        public onChangePage(page: number): void {
            this.tableRef.setPage(page);
        }

        public newProject() {
            this.edit(null);
        }

        public onRemove(project: ProjectInterface): void {
            this.tableRef.getData();
        }

        public onUpdate(project: ProjectInterface): void {
            this.tableRef.getData();
        }

        public onCreate(project: ProjectInterface): void {
            this.tableRef.getData();
            this.projectDialogIsOpened = false;
        }

        public edit(id: number): void {
            this.openedProjectId = id;
            this.projectDialogIsOpened = true;
        }

        public remove(id: number): void {
            this.projectsService.remove(id)
                .then(res => {
                    this.snackbarController.openSuccess(`Project ${res.name} is deleted`);
                    
                    if(this.currentProject && this.currentProject.id === res.id) {
                        this.$store.dispatch(ACTION_RESET_CURRENT_PROJECT)
                    }

                    this.tableRef.getData();

                });
        }
        
    }
</script>