<template>
    <div id="project-clients">

        <v-expansion-panels class="content-margin" :value="0">
            <v-expansion-panel>
                <v-expansion-panel-header>
                    <span><v-icon>filter_list</v-icon> Filters</span>
                </v-expansion-panel-header>
                <v-expansion-panel-content>
                    
                    <div class="filters">

                        <v-text-field
                            outlined
                            class="filters__input"
                            label="Client Id"
                            @change="updateFilters()"
                            v-model="filterClientId"></v-text-field>

                        <v-select
                            outlined
                            class="filters__input"
                            label="Project"
                            :items="filterSelectProjectItems"
                            @change="updateFilters()"
                            v-model="filterProject"></v-select>

                    </div>

                </v-expansion-panel-content>
            </v-expansion-panel>
        </v-expansion-panels>

        <div class="table-page-actions-block content-margin">
            <v-btn @click="openCreateClientDialog()" color="primary">New client</v-btn>
        </div>

        <v-server-table class="content-margin" ref="tableRef" @loaded="onTableLoaded($event)" :columns="columns" :options="options">
            <actions-cell-component 
                slot="actions" slot-scope="props"
                :remove="() => removeClient(props.row.client_id)"
            ></actions-cell-component>
        </v-server-table>

        <v-pagination
            v-if="tableRef && tableRef.totalPages > 1"
            :value="tableRef.page"
            @input="onChangePage($event)"
            :length="tableRef.totalPages"
            :total-visible="10"
            ></v-pagination>

        <v-dialog
            v-model="createClientDialogIsOpened"
            max-width="350">
            <v-card>
                <v-toolbar flat color="primary">
                    <v-toolbar-title>Create client</v-toolbar-title>
                </v-toolbar>
                <v-card-text class="small-margin-top">

                    <div class="content-margin">
                        <v-select
                            v-model="newClientProjectId"
                            outlined
                            :items="selectProjectItems"
                            label="Project"
                            :rules="[RULES.REQUIRED]"/>
                    </div>

                    <div class="content-margin">
                        <v-text-field
                            v-model="newClientPassword"
                            outlined
                            :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                            :rules="[RULES.REQUIRED, RULES.PASSWORD]"
                            :type="showPassword ? 'text' : 'password'"
                            label="password"
                            @click:append="showPassword = !showPassword"
                        ></v-text-field>
                    </div>

                </v-card-text>

                <v-card-actions>
                    <v-btn @click="createClient()" color="primary">Create</v-btn>
                    <v-btn @click="closeCreateClientDialog()">Cancel</v-btn>
                </v-card-actions>
            </v-card>

        </v-dialog>

        <snackbar-component :controller="snackbarController"/>

    </div>
</template>

<style lang="scss">
    #project-clients-page {
        .filters {
            display: flex;
            flex-wrap: wrap;

            &__input {
                width: 280px;
                margin-right: 15px!important;
                flex: inherit;
            }
            
        }

        @media (max-width: 719px) {
            .cell-project_name {
                display: none;
            }
            .filters {
                &__input {
                    width: 100%;
                    margin-bottom: 10px;
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
</style>

<script lang="ts">
    import { Component, Vue, Inject, Ref } from 'vue-property-decorator';
    import ProjectClientsService from '../../services/project-clients.service';
    import { ACTION_SELECT_CURRENT_PROJECT, GET_CURRENT_PROJECT } from '../../store/current-project.module';  
    import ProjectInterface from '../../models/project.interface';
    import ActionsCellComponent from '../../components/actions-cell.component.vue';
    import ProjectClientInterface from '../../models/project-client.interface';
    import * as RULES from '../../rules/base.rule';
    import ProjectsService from '../../services/projects.service';
    import SelectItemInterface from '../../models/select-item.interface';
    import {valid  as validateRules} from '../../rules/arrays.rule';
    import SnackbarComponent from '../../components/snackbar.component.vue';
    import SnackbarController from '../../controllers/sackbar.controller';
    import {buildTableRequest} from '../../models/table-request.interface';

    @Component({
        components: {
            ActionsCellComponent,
            SnackbarComponent
        }
    })
    export default class ProjectClientsPage extends Vue {

        @Inject() public projectClientsService: ProjectClientsService;
        @Inject() public projectsService: ProjectsService;

        public get currentProject(): ProjectInterface {
            return this.$store.getters[GET_CURRENT_PROJECT];
        }

        @Ref() public tableRef;

        public RULES = RULES;

        public columns: string[] = ['client_id', 'project_name', 'actions'];
        public options: any = {
            columnsClasses: {
                actions: 'cell-actions',
                project_name: 'cell-project_name'
            },
            requestFunction: (nativeQuery: any) => {
                return this.projectClientsService.getRows(buildTableRequest(nativeQuery, this.getFilters()))
            }
        }

        public filterClientId: string = '';
        public filterProject: number | string = '';
        public filterSelectProjectItems: SelectItemInterface[] = [];

        public showPassword: boolean = false;
        public newClientPassword: string = '';
        public newClientProjectId: number | null = null;
        public createClientDialogIsOpened: boolean = false;
        public selectProjectItems: SelectItemInterface[] = []
        public snackbarController: SnackbarController = new SnackbarController();

        public getFilters(): any {
            const filters = {};

            if(this.filterClientId !== '') {
                filters['client_id'] = {
                    type: 'CONTAINS',
                    query: this.filterClientId
                }
            }

            if(this.filterProject !== '') {
                filters['project_id'] = {
                    type: 'EQUALS',
                    query: this.filterProject
                }
            }

            return filters;
        }

        public updateFilters(): void {
            this.tableRef.getData();
        }

        public onTableLoaded(data: any): void {
            if(this.tableRef.page > this.tableRef.totalPages) {
                this.onChangePage(this.tableRef.totalPages);
                return;
            }
        }

        public onChangePage(page: number): void {
            this.tableRef.setPage(page);
        }

        public created(): void {
            this.projectsService.getInfoRows()
                .then(res => {
                    this.selectProjectItems = res.map(item => {
                        return {
                            text: item.name,
                            value: item.id
                        }
                    })

                    this.filterSelectProjectItems = [...this.selectProjectItems];
                    this.filterSelectProjectItems.unshift({
                        text: 'All',
                        value: ''
                    });
                })

            if(this.currentProject !== null) {
                this.filterProject = this.newClientProjectId = this.currentProject.id;
            }
        }

        public openCreateClientDialog(): void {
            this.createClientDialogIsOpened = true;
            this.newClientPassword = '';
        }

        public closeCreateClientDialog(): void {
            this.createClientDialogIsOpened = false;
        }

        public createClient(): void {
            let isValid: string | boolean;

            isValid = validateRules([RULES.REQUIRED], this.newClientProjectId);

            if(!isValid || typeof isValid === 'string') {
                this.snackbarController.openError('Field project is: ' + isValid);
                return;
            }

            isValid = validateRules([RULES.REQUIRED, RULES.PASSWORD], this.newClientPassword);

            if(!isValid || typeof isValid === 'string') {
                this.snackbarController.openError('Field password is: ' + isValid);
                return;
            }

            this.projectClientsService.create(this.newClientProjectId, this.newClientPassword)
                .then(res => {
                    this.closeCreateClientDialog();
                    this.tableRef.getData();
                })
                .catch(error => {
                    this.snackbarController.openError(error);
                })
                

        }

        public removeClient(clientId: string): void {
            this.projectClientsService.remove(clientId)
                .then(res => {
                    this.snackbarController.open(clientId + ' deleted')
                    this.tableRef.getData();
                })
        }

    }
</script>