<template>
    <div id="project-users-page">

        <v-expansion-panels class="content-margin" :value="0">
            <v-expansion-panel>
                <v-expansion-panel-header>
                    <span><v-icon>filter_list</v-icon> Filters</span>
                </v-expansion-panel-header>
                <v-expansion-panel-content>
                    
                    <div class="filters">

                        <v-text-field
                            outlined
                            class="filters__input"
                            label="Client id"
                            @change="updateFilters()"
                            v-model="filterClientId"></v-text-field>

                        <v-text-field
                            outlined
                            class="filters__input"
                            label="Login"
                            @change="updateFilters()"
                            v-model="filterLogin"></v-text-field>

                        <v-select
                            outlined
                            class="filters__input"
                            label="Project"
                            :items="filterSelectProjectItems"
                            @change="updateFilters()"
                            v-model="filterProject"></v-select>

                    </div>

                </v-expansion-panel-content>
            </v-expansion-panel>
        </v-expansion-panels>

        <div class="table-page-actions-block content-margin">
            <v-btn @click="openCreateUserDialog()" color="primary">New user</v-btn>
        </div>

        <v-server-table class="content-margin" ref="tableRef" @loaded="onTableLoaded($event)" :columns="columns" :options="options">
            <actions-cell-component 
                slot="actions" slot-scope="props"
                :remove="() => removeUser(props.row.id)"
            ></actions-cell-component>
        </v-server-table>

        <v-pagination
            v-if="tableRef && tableRef.totalPages > 1"
            :value="tableRef.page"
            @input="onChangePage($event)"
            :length="tableRef.totalPages"
            :total-visible="10"
            ></v-pagination>

        <v-dialog
            v-model="createUserDialogIsOpened"
            max-width="350">
            <v-card>
                <v-toolbar flat color="primary">
                    <v-toolbar-title>Create project user</v-toolbar-title>
                </v-toolbar>
                <v-card-text class="small-margin-top">

                    <div class="content-margin">
                        <v-text-field
                            v-model="user.login"
                            outlined
                            :rules="[RULES.REQUIRED, RULES.LOGIN]"
                            type="text"
                            label="Login"
                        ></v-text-field>
                    </div>

                    <div class="content-margin">
                        <v-select
                            v-model="newUserProjectId"
                            outlined
                            :items="selectProjectItems"
                            @change="onSelectProject()"
                            label="Project"
                            :rules="[RULES.REQUIRED]"/>
                    </div>

                    <div class="content-margin">
                        <v-select
                            v-model="user.clientId"
                            outlined
                            :items="selectClientItems"
                            label="Client"
                            :rules="[RULES.REQUIRED]"/>
                    </div>

                    <div class="content-margin">
                        <v-text-field
                            v-model="user.password"
                            outlined
                            :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                            :rules="[RULES.REQUIRED, RULES.PASSWORD]"
                            :type="showPassword ? 'text' : 'password'"
                            label="password"
                            @click:append="showPassword = !showPassword"
                        ></v-text-field>
                    </div>

                </v-card-text>

                <v-card-actions>
                    <v-btn @click="createUser()" color="primary">Create</v-btn>
                    <v-btn @click="closeCreateUserDialog()">Cancel</v-btn>
                </v-card-actions>
            </v-card>

        </v-dialog>

        <snackbar-component :controller="snackbarController"/>

    </div>
</template>

<style lang="scss">
    #project-users-page {
        .filters {
            display: flex;
            flex-wrap: wrap;

            &__input {
                width: 280px;
                margin-right: 15px!important;
                flex: inherit;
            }
            
        }

        @media (max-width: 991px) {
            .cell-project_name {
                display: none;
            }
            .filters {
                &__input {
                    width: 100%;
                    margin-bottom: 10px;
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
</style>

<script lang="ts">
    import { Component, Vue, Inject, Ref } from 'vue-property-decorator';
    import ActionsCellComponent from '../../components/actions-cell.component.vue';
    import SnackbarComponent from '../../components/snackbar.component.vue';
    import SnackbarController from '../../controllers/sackbar.controller';
    import { ACTION_SELECT_CURRENT_PROJECT, GET_CURRENT_PROJECT } from '../../store/current-project.module';  
    import ProjectInterface from '../../models/project.interface';
    import * as RULES from '../../rules/base.rule';
    import ProjectsService from '../../services/projects.service';
    import UsersService from '../../services/users.service';
    import ProjectUserInterface from '../../models/project-user.interface';
    import SelectItemInterface from '../../models/select-item.interface';
    import ProjectClientsService from '../../services/project-clients.service';
    import {valid  as validateRules} from '../../rules/arrays.rule';
    import ProjectUserDetailsInterface from '../../models/project-user-details.interface';
    import RowInfoInterface from '../../models/row-info.interface';
    import {buildTableRequest} from '../../models/table-request.interface';

    @Component({
        components: {
            ActionsCellComponent,
            SnackbarComponent
        }
    })
    export default class ProjectUsersPage extends Vue {

        @Inject() public usersService: UsersService;
        @Inject() public projectsService: ProjectsService;
        @Inject() public projectClientsService: ProjectClientsService;

        public get currentProject(): ProjectInterface {
            return this.$store.getters[GET_CURRENT_PROJECT];
        }

        @Ref() public tableRef;

        public RULES = RULES;

        public columns: string[] = ['client_id', 'login', 'project_name', 'actions'];
        public options: any = {
            columnsClasses: {
                actions: 'cell-actions',
                project_name: 'cell-project_name'
            },
            requestFunction: (nativeQuery: any) => {
                return this.usersService.getProjectUsersRows(buildTableRequest(nativeQuery, this.getFilters()))
            }
        }

        public filterClientId: string = '';
        public filterLogin: string = '';
        public filterProject: number | string = '';
        public filterSelectProjectItems: SelectItemInterface[] = [];

        public showPassword: boolean = false;
        public user: ProjectUserDetailsInterface = {
            id: null,
            login: '',
            password: '',
            clientId: '',
            errors: null
        }
        public newUserProjectId: number | null = null;
        public createUserDialogIsOpened: boolean = false;
        public selectProjectItems: SelectItemInterface[] = []
        public selectClientItems: SelectItemInterface[] = []
        public snackbarController: SnackbarController = new SnackbarController();

        public created(): void {                
            if(this.currentProject !== null) {
                this.projectClientsService.getInfoRowsByProject(this.currentProject.id)
                    .then(res => {
                        this.selectClientItems = res.map(item => {
                            return {
                                text: item.name,
                                value: item.name
                            }
                        });
                    })
            }

            if(this.currentProject !== null) {
                this.filterProject = this.newUserProjectId = this.currentProject.id;
            }

            this.projectsService.getInfoRows()
                .then(res => {
                    this.selectProjectItems = res.map(item => {
                        return {
                            text: item.name,
                            value: item.id
                        }
                    })

                    this.filterSelectProjectItems = [...this.selectProjectItems];
                    this.filterSelectProjectItems.unshift({
                        text: 'All',
                        value: ''
                    });

                })
        }

        public getFilters(): any {
            const filters = {};

            if(this.filterClientId !== '') {
                filters['client_id'] = {
                    type: 'CONTAINS',
                    query: this.filterClientId
                }
            }

            if(this.filterLogin !== '') {
                filters['login'] = {
                    type: 'CONTAINS',
                    query: this.filterLogin
                }
            }

            if(this.filterProject !== '') {
                filters['project_id'] = {
                    type: 'EQUALS',
                    query: this.filterProject
                }
            }

            return filters;
        }

        public updateFilters(): void {
            this.tableRef.getData();
        }

        public onTableLoaded(data: any): void {
            if(this.tableRef.page > this.tableRef.totalPages) {
                this.onChangePage(this.tableRef.totalPages);
                return;
            }
        }

        public onChangePage(page: number): void {
            this.tableRef.setPage(page);
        }

        public onSelectProject(): void {
            this.user.clientId = null;
            this.selectClientItems = [];

            this.projectClientsService.getInfoRowsByProject(this.newUserProjectId)
                .then(res => {
                    this.selectClientItems = res.map(item => {
                            return {
                                text: item.name,
                                value: item.name
                            }
                        });
                });
        }

        public openCreateUserDialog(): void {
            this.createUserDialogIsOpened = true;
            this.user.login = '';
            this.user.clientId = '';
            this.user.password = '';
            if(this.currentProject !== null) this.newUserProjectId = this.currentProject.id;
        }

        public closeCreateUserDialog(): void {
            this.createUserDialogIsOpened = false;
        }

        public createUser(): void {
            let isValid: string | boolean;

            isValid = validateRules([RULES.REQUIRED, RULES.LOGIN], this.user.login);

            if(!isValid || typeof isValid === 'string') {
                this.snackbarController.openError('Field login is: ' + isValid);
                return;
            }

            isValid = validateRules([RULES.REQUIRED], this.user.clientId);

            if(!isValid || typeof isValid === 'string') {
                this.snackbarController.openError('Field client is: ' + isValid);
                return;
            }

            isValid = validateRules([RULES.REQUIRED, RULES.PASSWORD], this.user.password);

            if(!isValid || typeof isValid === 'string') {
                this.snackbarController.openError('Field password is: ' + isValid);
                return;
            }

            this.usersService.createForProject(this.user)
                .then(res => {
                    if(res.errors === null) {
                        this.closeCreateUserDialog();
                        this.tableRef.getData();
                    } else {
                        this.snackbarController.openError(JSON.stringify(res.errors));
                    }
                })
            

        }

        public removeUser(id: number): void {
            this.usersService.deleteProjectUser(id)
                .then(res => {
                    this.snackbarController.openSuccess(`User ${res.login} is deleted`);
                    this.tableRef.getData();
                })
        }

    }
</script>