<template>
  <div>
    <login-layout v-if="currentUser === null && !currentUserIsLoading"></login-layout>
    <default-layout v-if="currentUser !== null && !currentProjectIsLoading"></default-layout>
    <loading-layout v-if="currentUserIsLoading || currentProjectIsLoading"></loading-layout>
  </div>
</template>

<style lang="scss" src="./style.scss"></style>
 
<script lang="ts">
  import { Component, Vue, Provide } from 'vue-property-decorator';
  import axios, {AxiosInstance} from 'axios';
  import { Route } from 'vue-router';
  import LoginLayout from './layouts/login.layout.vue';
  import DefaultLayout from './layouts/baseline.layout.vue';
  import UserInterface from './models/user.interface';
  import navigation from './navigation';
  import NavItemInterface from './models/nav-item.interface';
  import TokenRepository from './repository/token.repository';
  import { ACTION_LOGIN, GET_CURRENT_USER } from './store/current-user.module';  
  import AuthService from './services/auth.service';
  import UsersService from './services/users.service';
  import { ClientTable, ServerTable } from 'vue-tables-2';
  import ModelsService from './services/models.service';
  import BodyService from './services/body.service';
  import ProjectRoutesService from './services/project-routes.service';
  import ProjectsService from './services/projects.service';
  import CurrentProjectRepository from './repository/current-project.repository';
  import { ACTION_SELECT_CURRENT_PROJECT, GET_CURRENT_PROJECT } from './store/current-project.module';  
  import LoadingLayout from './layouts/loading.layout.vue';
  import ProjectInterface from './models/project.interface';
  import ListsService from './services/lists.service';
  import ProjectClientsService from './services/project-clients.service';


  Vue.use(ClientTable);
  Vue.use(ServerTable);

  const token: any = TokenRepository.getToken();
  
  @Component({
    components: {
      LoginLayout,
      DefaultLayout,
      LoadingLayout
    }
  })
  export default class App extends Vue {

    @Provide() public authService: AuthService = new AuthService();
    @Provide() public usersService: UsersService = new UsersService();
    @Provide() public modelsService: ModelsService = new ModelsService();
    @Provide() public bodyService: BodyService = new BodyService();
    @Provide() public projectRoutesService: ProjectRoutesService = new ProjectRoutesService();
    @Provide() public projectsService: ProjectsService = new ProjectsService();
    @Provide() public listsService: ListsService = new ListsService();
    @Provide() public projectClientsService: ProjectClientsService = new ProjectClientsService();

    public currentUserIsLoading: boolean = true;
    public currentProjectIsLoading: boolean = true;
    public get currentUser(): UserInterface {
      return this.$store.getters[GET_CURRENT_USER];
    }

    public get currentProject(): ProjectInterface {
      return this.$store.getters[GET_CURRENT_PROJECT];
    }

    public token = localStorage.getItem('token');

    public created() {
      
      if(this.token !== null) {
        
        this.usersService.getCurrentUser()
          .then((user: UserInterface) => {
              this.$store.dispatch(ACTION_LOGIN, user);
              this.currentUserIsLoading = false;

              if(+CurrentProjectRepository.getProjectId(this.currentUser.id) !== 0) {
                this.projectsService.getById(+CurrentProjectRepository.getProjectId(this.currentUser.id))
                  .then((project: ProjectInterface) => {
                    this.$store.dispatch(ACTION_SELECT_CURRENT_PROJECT, project);
                    this.routeFilter(this.$router.currentRoute);
                    this.currentProjectIsLoading = false;
                  })
                  .catch((res) => {
                    this.routeFilter(this.$router.currentRoute);
                    this.currentProjectIsLoading = false;
                    CurrentProjectRepository.removeProjectId(this.currentUser.id);
                  });
              } else {
                this.routeFilter(this.$router.currentRoute);
                this.currentProjectIsLoading = false;
              }
              

          })
          .catch((res) => {
            this.routeFilter(this.$router.currentRoute);
            this.currentUserIsLoading = false;
            this.currentProjectIsLoading = false;
          })
        
      } else {
        this.routeFilter(this.$router.currentRoute);
        this.currentUserIsLoading = false;
        this.currentProjectIsLoading = false;
      }

      this.$router.afterEach((to: Route, from: Route) => {
        this.routeFilter(to);
      })
    }

    public routeFilter(to: Route) {
      
      const roles: string[] = to.meta ? to.meta.roles : [];
      
      if(roles === null) return this.$router.push('/404');

      if(this.currentUser === null && !roles.includes('ANONYM')) {
        this.$router.push('/login');
      }

      if(this.currentUser !== null && !roles.includes(this.currentUser.role)) {
        this.$router.push('/');
      }

      if(to.meta.projectIsDependecy && this.currentProject === null) {
        this.$router.push('/');
      }

    }

  }
</script>
