@import './variables.scss';
@import './vue-tables.scss';
@import './components';

.primary {
    color: #fff!important;
}

.content-margin {
    margin-bottom: 15px;
}

.table-page-actions-block {
    display: block;
    text-align: right;
}

.cell-actions {
    text-align: right!important;
}

.top-panel {
    display: flex;
    justify-content: space-around;
    align-items: center;
    &__input {
        width: 250px;
        flex: none;
        margin-left: 25px!important;

        &:first-child {
            margin-left: 0!important;
        }

        &-small {
            width: 150px;
        }
    }
    &__btn {
        margin-left: 15px;
    }
}

code {
    width: 100%;
    padding: 10px 15px;
    word-wrap: break-word;
}