.VueTables {
    overflow: auto;
    overflow-y: hidden;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    .row {
        display: none;
    }
    &__table {
        width: 100%;
        position: relative;
        border-spacing: 0;
        th {
            border-bottom: 2px solid;
        }
        th, td {
            text-align: left;
            padding-top: 7px;
            padding-bottom: 7px;
            padding-left: 15px;
            padding-right: 15px;
        }

        tr {
            &:first-child td {
                padding-top: 12px;
            }
            &:last-child td {
                border-bottom: none;
            }
        }

        tr

        td {
            padding-top: 10px;
            padding-bottom: 10px;
            border-bottom: 1px solid $middle-grey;
        }
    }
}
