<template>
  <v-app id="inspire">
    <v-content>
      <v-container
        fluid
        fill-height
      >
        <v-layout
          align-center
          justify-center
        >
          <v-flex
            xs12
            sm8
            md4
          >
            <router-view/>
          </v-flex>
        </v-layout>
      </v-container>
    </v-content>
  </v-app>
</template>

<script lang="ts">
    import { Component, Vue, Inject } from 'vue-property-decorator';

    @Component
    export default class LoginLayout  extends Vue {
        public drawer = null;
  }
</script>